@charset "UTF-8";
/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

header {
  height: 64px;
  background-color: #005E7C;
  position: sticky;
  top: 0px;
  z-index: 10;
}

/* nav */
.navbar {
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  min-height: calc(100vh - 264px);
}

ul {
  margin: 0;
}

/* lista desplegable nav */
.navMovil {
  background-color: #005E7C;
}
.navMovil ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  list-style: none;
  width: 100%;
}
.navMovil ul li {
  border: 3px solid black;
  width: inherit;
  text-align: center;
}
.navMovil ul li a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}
.navMovil ul li:hover {
  background-color: #e0e0e0;
  color: #333;
}

/* div contenedor logo */
.contImagenNav {
  height: 100%;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 3px;
}
.contImagenNav img {
  height: 100%;
  width: 100%;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

footer {
  display: flex;
  height: 200px;
  background-color: #FF8C42;
  justify-content: space-around;
  max-width: 100%;
  overflow: auto;
}

.imgFooter {
  height: 80%;
  margin: 15px;
}

.divFooter {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.divFooter h2 {
  font-size: 2rem;
  text-decoration: underline;
}
.divFooter p {
  font-size: 1.2rem;
}

.linkRedes {
  height: 50px;
  width: 50px;
}

.mapaFooter {
  height: 80%;
  margin: 15px;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* el titulo principal */
#index-h1 {
  font-size: 3rem;
  text-align: center;
  margin: 40px;
  font-style: italic;
}

.index-bienvenida {
  height: 200px;
  margin: 20px;
}
.index-bienvenida article {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-bienvenida article img {
  height: 100%;
}
.index-bienvenida article div {
  justify-content: center;
  text-align: center;
}
.index-bienvenida article div h2 {
  font-size: 2.5rem;
  font-style: italic;
}
.index-bienvenida article div p {
  font-size: 2rem;
  margin-left: 20px;
}

#index-secciones {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 20px;
  padding: 10px;
}
#index-secciones a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
#index-secciones a article {
  border: 5px solid black;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #96C9DC;
  max-width: 500px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#index-secciones a article h3 {
  font-size: 2rem;
}
#index-secciones a article h4 {
  font-size: 1.8rem;
}

.fotoSeccionInico {
  overflow: auto;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.container-publicacion {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.publicacion h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-style: italic;
}
.publicacion h2 {
  font-size: 2rem;
  text-decoration: underline;
}
.publicacion p {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
}
.publicacion img {
  max-width: 50%;
  max-height: 250px;
  float: right;
  margin: 10px 0 10px 10px;
}
.publicacion div {
  margin-top: 20px;
}
.publicacion div a {
  display: block;
  margin-bottom: 10px;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* page conocenos */
.conocenos__padding {
  padding: 30px;
}
.conocenos__padding h1 {
  font-size: 3rem;
  font-style: italic;
}

.principalsection {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.principalsection div {
  display: grid;
  height: 100%;
  width: 100%;
  max-height: 250px;
  padding-right: 100px;
}
.principalsection div img {
  max-height: 250px;
  justify-self: end;
}

.text_imgCon {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.text_imgCon p {
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
  max-height: 250px;
  max-width: 550px;
}

.secundariosection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
}
.secundariosection div {
  max-width: 600px;
}

.conocenos-pandemia h2 {
  text-align: center;
}
.conocenos-pandemia article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conocenos-pandemia article div {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
}
.conocenos-pandemia article div img {
  max-width: 50%;
  max-height: 50%;
  margin-left: 10px;
}

.colabors {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 30px;
}

.colabor {
  display: flex;
  align-items: center;
  max-width: 75%;
  max-height: 75%;
  gap: 10px;
}

.fotoColaborador {
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.main__noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__noticias h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
  font-style: italic;
}
.main__noticias section {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  margin: 20px 0;
}
.main__noticias section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}
.main__noticias section img h2 {
  text-align: center;
  font-size: 2.5rem;
}
.main__noticias section p {
  line-height: 1.5;
  font-size: 1.6rem;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.biblioteca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.biblioteca h1 {
  font-size: 3rem;
  margin: 30px;
  font-style: italic;
}
.biblioteca section {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  align-items: center;
  justify-content: center;
}
.biblioteca section h2 {
  font-size: 2.5rem;
  text-decoration: underline;
}
.biblioteca section div a {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
  text-decoration: none;
  color: inherit;
  border: 3px solid black;
  padding: 10px;
  margin: 10px 0;
  align-items: center;
  column-gap: 20px;
}
.biblioteca section div img {
  max-width: 100%;
  max-height: 250px;
  height: auto;
  grid-row: span 2;
}
.biblioteca section div h3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 90%;
  font-size: 2rem;
  margin-top: 0;
}
.biblioteca section div p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  max-width: 90%;
  font-size: 1.6rem;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* colores generales*/
.fullheight {
  height: 100%;
}

.fullwidht {
  width: 100%;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.tam16px {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* media para movil */
@media (max-width: 768px) { /* Ocultar en pantallas más pequeñas que 768px de ancho */
  .mapaFooter {
    display: none;
  }
  .imgFooter {
    display: none;
  }
  #index-secciones {
    grid-template-columns: 1fr;
    margin: 30px 10%;
    justify-items: center;
  }
  #index-secciones article {
    text-align: center;
    max-width: 90%;
  }
  .principalsection {
    grid-template-columns: 1fr;
  }
  .principalsection div {
    justify-content: center;
    padding-right: 0px;
  }
  .secundariosection {
    grid-template-columns: 1fr;
  }
  .conocenos-pandemia article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .conocenos-pandemia article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .conocenos-pandemia article div img {
    max-width: 80%;
    max-height: 80%;
    align-self: center;
    margin-top: 10px;
    margin-left: 0;
    display: block;
  }
  .main__noticias {
    grid-template-columns: 1fr;
  }
  .main__noticias section {
    padding: 15px;
  }
  .publicacion {
    padding: 10px;
  }
  .publicacion img {
    float: none;
    margin: 0;
    max-width: 100%;
  }
  .biblioteca section h2 {
    text-align: center;
  }
  .biblioteca section div a {
    grid-template-columns: auto;
    justify-items: center;
    margin: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background: rgb(246, 142, 95);
  background: linear-gradient(0deg, rgba(246, 142, 95, 0.9037990196) 0%, rgb(244, 241, 187) 71%, rgba(38, 129, 158, 0.8057598039) 100%);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(246, 142, 95);
  background: linear-gradient(0deg, rgba(246, 142, 95, 0.9037990196) 0%, rgb(244, 241, 187) 71%, rgba(38, 129, 158, 0.8057598039) 100%);
}

/*# sourceMappingURL=styles.css.map */
