/* reseteamos la pagina */
*{margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F4F1BB;
}
body {
    width: 100%; /* Establecer la anchura al 100% */
    margin: 0; /* Eliminar los márgenes por defecto del body */
    padding: 0; /* Eliminar los rellenos por defecto del body */
    background-color: #F4F1BB /* pongo color al body */
}


/* colores generales
    celeste #96C9DC
    naranja #FF8C42
    amarillo #F4F1BB
    azul #005E7C
*/

/* header */
header{
    height: 64px;
    background-color: #005E7C;
    position: sticky;
    top: 0px;
}
/* nav */
nav{
    height: 100%;;
    display: flex;
    justify-content: space-between;
}
.navbar{
    padding: 0px;
}
main{
    min-height: calc(100vh - (64px + 200px));
}
ul{
    margin: 0;
}
/* footer */
footer{
    display: flex;
    height: 200px;
    background-color: #FF8C42;
    justify-content: space-around;
}

/* tamaños varios */
.height100{
    height: 100%;
}
.width100{
    width: 100%;
}
/* items links en la nav */
.linkNav{
    color: white;
    text-decoration: none;
    font-size: 3rem;
}
/* la lista de los links principales en la nav */
.listaNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style: none;
    width: 100%
}
/* quitamos diseño de lista */
.itemListaNav{
    list-style: none;
}

/* lista desplegable nav */

.navMovil{
    background-color: #005E7C;;
}
.borderNav{
    border: 3px solid black;
    width: inherit;
    text-align: center;
}

/* div contenedor logo */
.contImagenNav{
    height: 100%;
}
/* logo */
.logoNav{
    height: 100%;
}
/* modificamos div links principales */
.divLinks{
    width: 100%;
}
/* modificamos div sesion */
.divSesion{
    width: 25%;
}
/* link registro */
.linkRegistro{
    color: white;
    font-size: 1.3rem;;
}
/* link sesion */
.linkInicioSesion{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
/* el titulo principal */
#tituloInicio{
    font-size: 3rem;
    text-align: center;
    margin: 40px;
    font-style: italic;

}
/* section principal */
.inicioImgyParr{
    height: 200px;
    margin: 20px;
}
/* article principal */
.imgFamilia{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* imagen principal */
#logoFamiliaInicio{
    height: 100%;
}
.orientacionF{
    justify-content: center;
    text-align: center;
}
.orientaciontitulo{
    font-size: 2.5rem;
    font-style: italic;
}
/* frase inicial que acompaña */
.frasePendiente{
    font-size: 2rem;
    margin-left: 20px;
}
/* section secciones principales */
#seccionesInico{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 10px;
}
/* articles de casa seccion principal */
.seccionesInicio{
    border: 5px solid black;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #96C9DC;
    max-width: 500px;
    width: 100%;

}
.div__imgsbody{
    height: 100%;
    width: 100%;
}

.tam12px{
    font-size: 1.2rem;
}
/* imagen footer */
.imgFooter{
    height: 80%;
    margin: 15px;
}
/* mapa ubicacion */
.mapaFooter{
    height: 80%;
    margin: 15px;
}
/* logos redes */
.linkRedes{
    height: 50px;
    width: 50px;
}
.divFooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* corrigiendo overflow de imagen secciones */
.fotoSeccionInico{
    overflow: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* agregando margen a lo que vea necesario */
.separacionBasica{
    margin: 10px;
}
/* corrijo imagenes mas chicas de Ultimas Publicaciones */
.imagenUltP{
height: 50%;
width: 50%;
}

.centrandotexto{
    text-align: center;
}
.principalsection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secundariosection{
    display: flex;
    justify-content: space-around;
}
.colabors{
    display: flex;
    justify-content: space-around;
}
.colabor{
    display: flex;
    align-items: center;
}
.divpublicaciones{
    max-width: 400px;
}

.overflow{
    flex-wrap: wrap;
    overflow: auto;
}

/* media para movil */
@media (max-width: 768px) { /* Ocultar en pantallas más pequeñas que 768px de ancho */
    .mapaFooter {
        display: none;
    }
    .imgFooter {
        display: none;
        }
    #seccionesInico{
        grid-template-columns: 1fr;
        margin: 30px 10%;
        justify-items: center;
    }


}
