/* reseteamos la pagina */
*{margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F4F1BB;
}
body {
    width: 100%; /* Establecer la anchura al 100% */
    margin: 0; /* Eliminar los márgenes por defecto del body */
    padding: 0; /* Eliminar los rellenos por defecto del body */
    background-color: #F4F1BB /* pongo color al body */
}


/* colores generales
    celeste #96C9DC
    naranja #FF8C42
    amarillo #F4F1BB
    azul #005E7C
*/

/* header */
header{
    height: 64px;
    background-color: #005E7C;
    position: sticky;
    top: 0px;
}
/* nav */
nav{
    height: 100%;;
    display: flex;
    justify-content: space-between;
}
.navbar{
    padding: 0px;
}
main{
    min-height: calc(100vh - (64px + 200px));
}
ul{
    margin: 0;
}
/* footer */
footer{
    display: flex;
    height: 200px;
    background-color: #FF8C42;
    justify-content: space-around;
}

/* tamaños varios */
.fullheight{
    height: 100%;
}
.width100{
    width: 100%;
}
.bold{
    font-weight: bold;
}
/* items links en la nav */
.linkNav{
    color: white;
    text-decoration: none;
    font-size: 3rem;
}
/* la lista de los links principales en la nav */
.listaNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style: none;
    width: 100%
}
/* quitamos diseño de lista */
.itemListaNav{
    list-style: none;
}

/* lista desplegable nav */

.navMovil{
    background-color: #005E7C;;
}
.borderNav{
    border: 3px solid black;
    width: inherit;
    text-align: center;
}

/* div contenedor logo */
.contImagenNav{
    height: 100%;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
}
/* logo */
.logoNav{
    height: 100%;
}
/* modificamos div links principales */
.divLinks{
    width: 100%;
}
/* modificamos div sesion */
.divSesion{
    width: 25%;
}
.btUser{
    background-color: #005E7C;
    border: none;
    display: none;
}
/* link registro */
.linkRegistro{
    color: white;
    font-size: 1.3rem;;
}
/* link sesion */
.linkInicioSesion{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
/* el titulo principal */
#tituloInicio{
    font-size: 3rem;
    text-align: center;
    margin: 40px;
    font-style: italic;

}
/* section principal */
.inicioImgyParr{
    height: 200px;
    margin: 20px;
}
/* article principal */
.imgFamilia{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* imagen principal */
#logoFamiliaInicio{
    height: 100%;
}
.orientacionF{
    justify-content: center;
    text-align: center;
}
.orientaciontitulo{
    font-size: 2.5rem;
    font-style: italic;
}
/* frase inicial que acompaña */
.frasePendiente{
    font-size: 2rem;
    margin-left: 20px;
}
/* section secciones principales */
#seccionesInico{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 10px;
}
/* articles de casa seccion principal */
.seccionesInicio{
    border: 5px solid black;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #96C9DC;
    max-width: 500px;
    width: 100%;

}
.div__imgsbody{
    height: 100%;
    width: 100%;
}

.tam12px{
    font-size: 1.2rem;
}
/* imagen footer */
.imgFooter{
    height: 80%;
    margin: 15px;
}
/* mapa ubicacion */
.mapaFooter{
    height: 80%;
    margin: 15px;
}
/* logos redes */
.linkRedes{
    height: 50px;
    width: 50px;
}
.divFooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* corrigiendo overflow de imagen secciones */
.fotoSeccionInico{
    overflow: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* agregando margen a lo que vea necesario */
.separacionBasica{
    margin: 10px;
}
/* corrijo imagenes mas chicas de Ultimas Publicaciones */
.imagenUltP{
height: 50%;
width: 50%;
}
.imgNosotros{
    height: 100%;
    width: 100%;
    max-height: 250px;
}
.centrando {
    display: flex; 
    justify-content: end; 
    align-items: center;
}
.text_imgCon{
    max-width: 100%; /* El div no será más ancho que su contenedor padre */
    padding: 10px; 
    box-sizing: border-box; 
}
.text_imgCon p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    line-height: 1.5; /* Espacio entre líneas para una mejor legibilidad */
    word-wrap: break-word; /* Rompe palabras largas si no caben en el ancho */
}


.text-center{
    text-align: center;
}
.principalsection{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.secundariosection{
    display: flex;
    justify-content: space-around;
}
.colabors{
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 30px;
    
}
.colabor{
    display: flex;
    align-items: center;
    max-width: 75%;
    max-height: 75%;
    gap: 10px;
}

.fotoColaborador{
    border-radius: 50%;
    max-width: 100%;
    height: 100%;
}

.año2020{
    display: flex;
    align-items: flex-start;
    max-width: 800px;
}
.año2020img{
    max-width: 30%;
    max-height: 30%;
    margin-left: 10px;
}
.divpublicaciones{
    max-width: 400px;
}

.overflow{
    flex-wrap: wrap;
    overflow: auto;
}



/* page conocenos */

.conocenos__padding{
    padding: 30px;
}

.año2020__article{
    display: flex;
    justify-content: center; 
    align-items: center;
}
/* page noticia */
.main__noticias {
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.noticia {
    width: 100%;
    max-width: 600px; 
    margin-bottom: 20px;
    margin: 20px 0;
}

.img-noticia {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto 20px; 
}

/* Estilos generales */
.noticia h2 {
    font-size: 1.8rem;
    margin: 0;
}

.noticia p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* page biblioteca */

.biblioteca__section{
    flex: 1;
    padding: 20px;
}
.biblioteca__section_publicacion a {
    display: grid; /* Utilizamos una cuadrícula para los elementos dentro del enlace */
    grid-template-columns: 30% 70%; /* Definimos dos columnas, una para la imagen y otra para el contenido de texto */
    grid-template-rows: auto auto; /* Definimos dos filas, una para el título y otra para el párrafo */
    text-decoration: none; /* Quitamos la decoración de texto predeterminada (subrayado) */
    color: inherit; /* Mantenemos el color del texto predeterminado */
    border: 1px solid black; /* Agregamos bordes */
    padding: 10px; /* Agregamos padding */
    margin: 10px 0; /* Agregamos margen superior e inferior */
    align-items: center; /* Centramos verticalmente el contenido del div */
}


.biblioteca__section_publicacion img {
    max-width: 100%;
    height: auto;
    grid-row: span 2; /* La imagen ocupa dos filas */
}

.biblioteca__section_publicacion h3 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    font-size: 1.5rem; 
    margin-top: 0;
}

.biblioteca__section_publicacion p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    font-size: 1.2rem;
    margin-top: 0;
}


/* page publicacion */

.publicacion {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.publicacion_title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.publicacion_contenido {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

.publicacion_img {
    max-width: 100%;
    height: auto;
    float: right;
    margin: 10px 0 10px 10px;
}

.publicacion_media {
    margin-top: 20px;
}

.publicacion_media a {
    display: block;
    margin-bottom: 10px;
}













/* media para movil */
@media (max-width: 768px) { /* Ocultar en pantallas más pequeñas que 768px de ancho */



    .mapaFooter {
        display: none;
    }
    .imgFooter {
        display: none;
        }
    #seccionesInico{
        grid-template-columns: 1fr;
        margin: 30px 10%;
        justify-items: center;
    }
    .btUser{
        display: block;
    }
    .divSesion{
        display: none;
    }
    .principalsection{
        grid-template-columns: 1fr;
    }
    .centrando{
        justify-content: center;
    }
    .año2020{
        align-items: flex-start;
        flex-direction: column;
    }
    .año2020img{
        max-width: 50%;
        max-height: 50%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .main__noticias {
        grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
    }

    .publicacion {
        padding: 10px;
    }

    .publicacion_title {
        font-size: 1.5rem;
    }

    .publicacion_contenido {
        font-size: 1rem;
    }

    .publicacion_img {
        float: none;
        margin: 0;
        max-width: 100%;
    }
}
