@import "variables";

footer{
    display: flex;
    height: 200px;
    background-color: map-get($colours, naranja);
    justify-content: space-around;
    max-width: 100%;
    overflow: auto;
}

.imgFooter{
    height: 80%;
    margin: 15px;
}

.divFooter{
    flex-direction: column;
    text-align: center;
    @include flex-center-center;
    margin: 15px;
    h2{
        font-size: map-get($textsize , semititulo);
        text-decoration: underline;
    }
    p{
        font-size: map-get($textsize , bajito)
    }
}

.linkRedes{
    @include sizes(50px,50px)
}

.mapaFooter{
    height: 80%;
    margin: 15px;
}