@import "variables";


.container-publicacion{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.publicacion {
    h1{
        font-size: map-get($textsize , subtitulo);
        margin-bottom: 20px;
    }
    h2{
        font-size: map-get($textsize , semititulo);
        text-decoration: underline;
    }
    p{
        font-size: map-get($textsize , parrafo);
        line-height: 1.6;
        text-align: justify;
    }
    img{
        max-width: 100%;
        height: auto;
        float: right;
        margin: 10px 0 10px 10px;
    }
    div{
        margin-top: 20px;
        a{
            display: block;
            margin-bottom: 10px;
        }
    }
}
